article.tweet:hover {
  opacity: 1.0;
}

article.tweet:hover .footer-icons {
  display: block;
}

article.tweet {
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-top: 10px;
  opacity: 0.6;
}

article.tweet header {
  background-color: #eee;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px
}

article.tweet h2 {
  color: #7BBAEA;
  display: inline;
  padding-left: 7px;
  position: relative;
  bottom: 25px;
}

article.tweet h5 {
  color: #aaa;
  font-size: 12px;
  display: inline;
  padding-left: 7px;
  float: right;
}

article.tweet footer {
  border-top: 1px solid #eee;
  font-size: 11px;
  height: 30px;
}

article.tweet footer p {
  font-size: 12px;
  margin: 0px;
}

article.tweet p {
  padding: 10px;
  font-size: 15px;
  word-wrap: break-word;
}

article.tweet .avatar {
border-radius: 5px;
}

.error-msg {
  background-color: red;
  border-radius: 5px;
  opacity: 0.6;
  color: white;
  text-align: center;
  font-style: italic;
}

.footer-icons {
  float: right;
  padding: 5px;
  font-size: 15px;
  display: none;
}

span i {
  padding: 2px;
}



