article.tweet:hover {
  opacity: 1.0;
}

article.tweet:hover:after {
}


article.tweet {
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-top: 10px;
  opacity: 0.6;
}


article.tweet header {
  background-color: #eee;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px
}

article.tweet h2 {
  color: #0e8e75;
  display: inline;
  padding-left: 7px;
  position: relative;
  bottom: 25px;
}

article.tweet h5 {
  color: #aaa;
  font-size: 10px;
  display: inline;
  padding-left: 7px;
  float: right;
}

article.tweet footer {
  border-top: 1px solid #eee;
  font-size: 11px;
  height: 30px;
}

article.tweet footer p {
  font-size: 11px;
  margin: 0px;
}

article.tweet p {
  padding: 10px;
  font-size: 15px;
}

article.tweet .avatar {
border-radius: 5px;
}